/* style.css */

.header h1 {
	padding: 24px 0;
	font-family: "Droid Sans", sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.topbar-logo {
	height: 28px;
	width: 28px;
	position: absolute;
	left: -24px;
	top: 8px;
}