{% extends 'base.html' %}

{% block header %}
<div class="row">
  <div class="large-12">
    <h1>My meetings</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <ul data-bind="foreach: meetings">
        <li><a href="#" data-bind="text: title, click: $parent.selectMeeting"></a></li>
      </ul>
    </div>
  </div>
  <div id="meeting-panel" class="large-8 columns" data-bind="with: selectedMeeting">
    <div class="row">
      <div class="small-6 columns">
        <div class="panel" data-bind="css: { editing: editing }">
          <h4 data-bind="text: title"></h4>
          <div class="view" data-bind="text: text, event: {dblclick: $root.editMeetingText}"></div>
          <textarea class="edit" rows="10" cols="50" data-bind="value: text, valueUpdate: 'afterkeydown', selectAndFocus: editing, event: { blur: $root.saveEditMeetingText }"></textarea>
        </div>
      </div>
      <div class="small-6 columns">
        <div class="panel">Topics (addable)</div>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="panel">Pull Requests (addable)</div>
      </div>
      <div class="small-6 columns">
        <div class="panel">Actions (addable)</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12">
    <div class="panel">
      <p data-bind="text: ko.toJSON($data)"></p>
      <a href="#" data-bind="click: loadMeetings">load meetings</a>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}