{% extends 'base.html' %}

{% block header %}
<div class="row">
  <div class="large-12">
    <h1>My meetings</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-4 panel">
    <ul>
      <li>Meeting</li>
      <li>Meeting</li>
    </ul>
  </div>
  <div class="large-8">
    <div class="row">
    <div class="small-6 panel">
        Text (editable)
      </div>
      <div class="small-6 panel">
        Topics (addable)
      </div>
    </div>
    <div class="row">
      <div class="small-6 panel">
        Pull Requests (addable)
      </div>
      <div class="small-6 panel">
        Actions (addable)
      </div>
    </div>
  </div>
</div>
{% endblock %}